# Environment variables
.env
.env.*
!.env.example

# Build files
build/
*.o
*.out

# IDE files
.vscode/
.idea/

# Debug files
*.log
core.*

# CMake files
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile

# Compiled binaries
box2d_hello

authServer
client